html {
  background-color: black;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 40px;
  color: white;
}

h1 {
  font-size: 50px;
}

.y2k {
  display: none;
}

@media only screen and (max-width: 860px) {
  body {
    font-size: 32px;
  }

  h1 {
    font-size: 36px;
  }
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 24px;
  }

  h1 {
    font-size: 30px;
  }
}

a {
  color: white;
  transition: color 0.2s ease;
  text-decoration: none;
}

a:hover {
  color: pink;
}

small {
  display: block;
  font-size: 10px;
}


/* Begin weather hex classes */

/* Clear */
.c {
  color: #F2F0A1;
}

/* Snow */
.sn {
  color: #D9D9D6;
}

/* Hail */
.h {
  color: #FFB3AB;
}

/* Thunderstorm */
.t {
  color: #DFA0C9;
}

/* Light rain */
.lr {
  color: #B4B5DF;
}

/* Showers */
.s {
  color: #5BC2E7;
}

/* Clouds */
.cl {
  color: #BEC6C4;
}

/*  ¯\_(ツ)_/¯ */
.unk {
  color: #a1b1f2;
}
